<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804901647633-ftj6m1gp2p3uqtdriiopcuu31v2icmvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804901647633-ftj6m1gp2p3uqtdriiopcuu31v2icmvu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>804901647633-043jq76prmt2ldstrtj44218rupodquh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApJkBMOY9M1OXNoOy0WHOlykrCJDbfBus</string>
	<key>GCM_SENDER_ID</key>
	<string>804901647633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zipike.ziplike</string>
	<key>PROJECT_ID</key>
	<string>likezap-circle-cf438</string>
	<key>STORAGE_BUCKET</key>
	<string>likezap-circle-cf438.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804901647633:ios:209d8280bdaffd3d49c8b0</string>
	<key>DATABASE_URL</key>
	<string>https://likezap-circle-cf438.firebaseio.com</string>
</dict>
</plist>